{% extends 'common/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'portfolio/css/detail.css' %}">
<script type='text/javascript' src="{% static 'portfolio/js/detail.js' %}"></script>
{% endblock %}

{% block body %}
<div class="portfolio-detail" ng-controller="pDetailCtrl">
    <div class="container">
        <div class="portfolio-header">
            <h3>
                포트폴리오 생성하기
            </h3>               
        </div>
        <div class="portfolio-content-wrapper">
            <form method="POST">
                <div class="container">
                    <div class="form-group">
                        <label for="portfolio_title">포트폴리오 제목</label>
                        <input type="text" class="form-control" id="portfolio_title" aria-describedby="portfolio title" placeholder="포트폴리오 제목을 입력해주세요" name="portfolio_title">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                    <div class="form-group">
                        <label for="portfolio_tags">포트폴리오 연관 태그</label>
                        <!-- <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->
                        <div class="form-control tags-wrapper">
                            <div class="row px-2 align-items-center tags-container">
                                <div class="col-auto px-1" ng-repeat="item in md.tags.list track by $index">
                                    <span class="badge badge-primary px-2"> 
                                        <span ng-bind="item"></span>
                                        <i class="ml-1 fas fa-times-circle" ng-click="fn.tags.remove($index);"></i>
                                    </span>
                                </div>
                                <div class="col px-1">
                                    <input type="text" name="portfolio_tags" id="portfolio_tags" ng-model="md.tags.input" kr-input ng-keyup="fn.tags.insert($event)" placeholder="태그를 입력해주세요">
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="form-group">
                        <label for="exampleInputEmail1">드래프트</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="포트폴리오 제목을 입력해주세요">
                        <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                    </div>
                </div>
            </form>
        
        </div>
    </div>
</div>
{% endblock %}