{% extends 'common/base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'common/bower_components/swiper/dist/css/swiper.css' %}">
<script type='text/javascript' src="{% static 'common/bower_components/swiper/dist/js/swiper.js' %}"></script>

<link rel="stylesheet" href="{% static 'portfolio/css/list.css' %}">
<script type="text/javascript" src="{% static 'portfolio/js/list.js' %}"></script>
{% endblock %}

{% block body %}

<div class="portfolio-list" ng-controller="pListCtrl">
    <div class="list-wrapper container mt-5">
        <div class="list-header">
            <div class="row">
                <div class="col-4 align-self-center">
                    <h3>작성한 포트폴리오 (<span>{{ portfolios_count }}</span>)</h3>
                </div>
                <div class="col-8 align-self-center">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href='./create'>
                                <i class="fas fa-plus"></i>
                                <span>새 포트폴리오</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="list-items container">
            <div class="items pt-5">
                <div class="row justify-content-start">
                    <div class="col-4 item-container px-2 mb-3" ng-repeat="item in md.portfolios.items track by $index" run-per-repeating="fn.list.repeat" run-per-repeating-source="item">
                        <div class="item-wrapper">
                            <div class="item-header">
                                <div class="item-header-cover-container pr-3">
                                    <div class="float-right mr-3 mt-2" ng-click="fn.list.del(item)" onclick='console.log("Hello")'>
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <div class="text-center pr-3 item-header-edit" >
                                        <a ng-href="{{ item.fields.length }}" ></a>
                                        <i class="fas fa-edit"></i>
                                    </div>
                                    <div class="item-header-cover">
                                    </div>
                                </div>
                                <div class="thumbnail bg-warning">
                                </div>
                            </div>  
                            <div class="item-content container">
                                <div class="row py-2">
                                    <div class="col-12">
                                        <h4 ng-bind='item.fields.title'></h4>
                                    </div>
                                    <div class="col-8">
                                        <div class="tags-container row px-3 align-items-center">
                                            <span class="col-auto badge badge-pill badge-secondary mr-2" ng-repeat="tag in item.tags_splitted track by $index" ng-bind='tag'></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class='item-content-date text-right' ng-bind='item.fields.created_dt | momentFromNow'> </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Autofolio</h4>
        </div>
        <div class="modal-body text-center">
            <p>작성된 드래프트가 없습니다.</p>
            <p>드래프트를 작성 후 포트폴리오를 작성할 수 있습니다.</p>
        </div>
        <div class="modal-footer">
            <a href="/draft/list" role='button' class='btn btn-primary'>드래프트 추가하기</a>
        </div>
        </div>
    </div>
</div>
      
{% endblock %}

{% block body-end %}

<button id='btn-modal-toggle' type="button" style='display:none;' class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <!-- 모달용 -->
</button>

<script type='text/javascript'>
    $(document).ready(()=>{
        window.__model = {};
        window.__model.drafts_count = Number('{{drafts_count}}');
        window.__model.portfolios_serialized = JSON.parse('{{ portfolios_serialized }}'.replace(/&quot;/g,'"'));
        
        window.__angular.ext.init();
    });

</script>

{% endblock %}