{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="afapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    
    <link rel="stylesheet" href="{% static 'common/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/bower_components/font-awesome/css/all.css' %}">
    
    <link rel="stylesheet" href="{% static 'common/css/common.css' %}">

    <script type='text/javascript' src="{% static 'common/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'common/bower_components/angular/angular.js' %}"></script>
    <script type='text/javascript' src="{% static 'common/bower_components/font-awesome/js/all.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'common/bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    
    <script type='text/javascript' src="{% static 'common/js/moment-with-locales.js' %}"></script>

    <script src="{% static 'common/js/angular/module.js' %}"></script>
    <script src="{% static 'common/js/angular/services.js' %}"></script>
    <script src="{% static 'common/js/angular/directives.js' %}"></script>
    <script src="{% static 'common/js/angular/filters.js' %}"></script>
    {% block head %}
    {% endblock %}
    <title>Autofolio</title>
</head>
<body>
    <!-- NAV 시작 -->
    {% include 'common/nav.html' %}
    <!-- NAV 종료 -->

    <!-- 실제 컨텐츠 시작 -->
    <div class="autofolio-body">
    {% block body %}
    {% endblock%}
    </div>
    <!-- 실제 컨텐츠 종료 -->

    {% block body-end %}
    {% endblock %}
</body>
</html>