{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" ng-app="afapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autofolio</title>
    
    <link rel="stylesheet" href="{% static 'common/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'common/bower_components/font-awesome/css/all.css' %}">
    
    <script type='text/javascript' src="{% static 'common/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'common/bower_components/angular/angular.js' %}"></script>
    <script type='text/javascript' src="{% static 'common/bower_components/font-awesome/js/all.min.js' %}"></script>
    <script type='text/javascript' src="{% static 'common/bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    
    <script type='text/javascript' src="{% static 'common/js/moment-with-locales.js' %}"></script>

    <script type='text/javascript'>
        // angular load
        window.__angular_app = angular.module('afapp' , [])
    </script>

    {% block head %}
    {% endblock %}
</head>
<body>

    {% block body %}
    {% endblock%}

    {% block body-end %}
    {% endblock %}
</body>
</html>