.tags-wrapper{
    height : auto;
}
.tags-container .badge {
    display : block;
    line-height: 1.5;
}

.tags-container #portfolio_tags{
    width: 100%;
}

.tags-container input{
    width : 100%;
    border:none;
}

.portfolio-content-wrapper .draft-list{
    max-height : 200px;
    overflow-y : auto;
}

.portfolio-content-wrapper .draft-search input{
    width : 100%;
    border:none;
}

.portfolio-content-wrapper .theme-list-wrapper .swiper-slide{
    height : 300px;
    background-color : #eee;
}

.portfolio-detail{
    width : 100%;
    min-height : 100%;
    background : linear-gradient(to right , rgb(217,239,209) 0%, rgb(217,239,209) 30%, #fff 30%, #fff 30%)
}