.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {

    border-radius : 15px;

    height : 300px;
    text-align: center;
    font-size: 18px;
    background: #eee;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.list-items .item-wrapper{
    height : 100%;
}

.portfolio-list {
    width : 100%;
    min-height : 100%;
    background : linear-gradient(to right , rgb(217,239,209) 0%, rgb(217,239,209) 30%, #fff 30%, #fff 30%)
}

.list-items .item-wrapper{
    height: 300px;
    box-shadow: 2px 2px 3px #7e7e7e;
    
}
.list-items .item-wrapper .item-header{
    width: 100%;
    height: 200px;
}
.list-items .item-wrapper .item-header .thumbnail{
    width : 100%;
    height : 100%;
}
.list-items .item-wrapper .item-header .item-header-cover-container{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    transition : .2s;
    cursor: pointer;
    z-index: 1;
}
.list-items .item-wrapper .item-header .item-header-cover-container:hover{
    opacity: 1;
    transition : .2s;
}
.list-items .item-wrapper .item-header .item-header-cover-container .item-header-edit
{
    position: absolute;
    width: 100%;
    margin-top: 60px;
    height: 200px;
    font-size: 3em;
    color: white;
}

.list-items .item-wrapper .item-header .item-header-cover-container .item-header-edit a
{
    text-decoration: none;
    color : #fff;
}

.list-items .item-wrapper .item-header .item-header-cover-container .item-header-cover{
    width: 100%;
    height: 200px;
    background: rgba(0,0,0,0.6);
}

.list-items .item-wrapper .item-content {
    width : 100%;
    height : 100px;
    background-color: #fff;
}

.list-items .item-wrapper .item-content > .row
{
    height : 100px;
}

.list-items .item-wrapper .item-content .item-content-date{
    font-size: .7em;
    color: #6c757d;
    padding-top: 20px;
    position: relative;
}

.list-items .item-wrapper .tags-container{
    height : 100%;
}

.list-items .fa-times{
    font-size : 1.3em;
    color: #fff;
}

.list-items .thumbnail .row{
    overflow: hidden;
    height: 200px;
}

.list-items .thumbnail img{
    
}

/* background-image: linear-gradient( -28deg, #f87f73 0%, #f87f73 60%, #292423 60%, #292423 60%);
 */