<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript">
        document.getElementById('date').valueAsDate = new Date();
    </script>
</head>
<body>
    <form method='GET'>
        <table>
            <tr>
                <td>이름</td>
                <td><input type='text' name="name"></td>
                <td>생년월일</td>
                <td><input type="date" id="date" name="birth" min="1900-01-01"></td>
                <td>성별</td>
                <td><input type='text' name="sex"></td>
            </tr>
            <tr>
                <td>핸드폰 번호</td>
                <td><input type='tel' name="phone"></td>
                <td>이메일</td>
                <td><input type='email' name="email"></td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
    
    </form>
</body>
</html>
