<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <!-- 동적div 추가 및 삭제 / id를 유동적으로 가져오는 방법이 필요함-->
    <script type="text/javascript">
        function add_div() {
            var div = document.createElement('div');
            div.innerHTML = document.getElementById('personal_information').innerHTML;
            document.getElementById('add').appendChild(div);
        }

        function remove_div(obj) {
            document.getElementById('add').removeChild(obj.parentNode);
        }

    </script>
</head>
<body>
    <div class="container">
        <input type="button" value="추가" onclick="add_div()"><br/>
        <div id="personal_information">
            <form method='GET'>
                <table border="1">
                    <tr>
                        <td>이름</td>
                        <td><input type='text' name="name"></td>
                        <td>생년월일</td>
                        <td><input type="date" id="date" name="birth" min="1900-01-01"></td>
                        <td>성별</td>
                        <td>
                            <select name="sex">
                                <option value="male">남성</option>
                                <option value="female">여성</option>
                                <option value="other">기타</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>핸드폰 번호</td>
                        <td><input type='tel' name="phone"></td>
                        <td>이메일</td>
                        <td><input type='email' name="email"></td>
                    </tr>
                    <tr> <!-- 주소  -->
                        <td>주소</td>
                        <td><input type="text" id="sample4_postcode" placeholder="우편번호">
                            <input type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"><br>
                            <input type="text" id="sample4_roadAddress" placeholder="도로명주소">
                            <input type="text" id="sample4_jibunAddress" placeholder="지번주소">
                            <span id="guide" style="color:#999;display:none"></span>
                            <input type="text" id="sample4_detailAddress" placeholder="상세주소">
                            <input type="text" id="sample4_extraAddress" placeholder="참고항목"></td>
                        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
                        <script>
                            //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
                            function sample4_execDaumPostcode() {
                                new daum.Postcode({
                                    oncomplete: function (data) {
                                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                                        // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                                        var roadAddr = data.roadAddress; // 도로명 주소 변수
                                        var extraRoadAddr = ''; // 참고 항목 변수

                                        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                                        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                                        if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                            extraRoadAddr += data.bname;
                                        }
                                        // 건물명이 있고, 공동주택일 경우 추가한다.
                                        if (data.buildingName !== '' && data.apartment === 'Y') {
                                            extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                                        }
                                        // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                                        if (extraRoadAddr !== '') {
                                            extraRoadAddr = ' (' + extraRoadAddr + ')';
                                        }

                                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                                        document.getElementById('sample4_postcode').value = data.zonecode;
                                        document.getElementById("sample4_roadAddress").value = roadAddr;
                                        document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                                        // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                                        if (roadAddr !== '') {
                                            document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                                        } else {
                                            document.getElementById("sample4_extraAddress").value = '';
                                        }

                                        var guideTextBox = document.getElementById("guide");
                                        // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                                        if (data.autoRoadAddress) {
                                            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                                            guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                                            guideTextBox.style.display = 'block';

                                        } else if (data.autoJibunAddress) {
                                            var expJibunAddr = data.autoJibunAddress;
                                            guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                                            guideTextBox.style.display = 'block';
                                        } else {
                                            guideTextBox.innerHTML = '';
                                            guideTextBox.style.display = 'none';
                                        }
                                    }
                                }).open();
                            }
                        </script>
                    </tr>
        
                </table>
        
            </form>
            <input type="button" value="삭제" onclick="remove_div(this)">
        </div>
        
        <div id="add"></div>
        <div>
            <form>
                <table border="1">
                    <tr>
                        <td>SNS</td>
                        <td>
                            <select name="SNS">
                                <option value="instagram">instagram</option>
                                <option value="facebook">facebook</option>
                                <option value="twitter">twitter</option>
                                <option value="tistory">tistory</option>
                            </select>
                        </td>
                        <td>Link</td>
                        <td><input type="url" name="sns_link"></td>
                    </tr>
        
                </table>
            </form>
        </div>
        <div>
            <form>
                <table border="1">
                    <tr>
                        <td>기간</td>
                        <td><input type="date" id="date" name="f_termtime" min="1900-01-01"> ~ <input type="date" id="date"
                                name="b_termtime" min="1900-01-01"></td>
                    </tr>
                    <tr>
                        <td>학교명</td>
                        <td><input type="text" name="school"></td>
                    </tr>
                    <tr>
                        <td>분류</td>
                        <td>
                            <select name="">
                                <option value="moon">문과</option>
                                <option value="ee">이과</option>
                                <option value="art">예체능</option>
                                <option value="other_major">기타</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>전공1</td>
                        <td><input type="text" name="major1"></td>
                        <td>전공2</td>
                        <td><input type="text" name="major2"></td>
                    </tr>
                    <tr>
                        <td>성적(학점)</td>
                        <td><input type="text" name="grade"></td>
                    </tr>
                </table>
            </form>
            <a>삭제하기</a>
        </div>
        <div>
            <form>
                <table border="1">
                    <tr>
                        <td>이름</td>
                        <td><input type="text" name="license_name"></td>
                        <td>등급</td>
                        <td><input type="text" name="license_grade"></td>
                    </tr>
                    <tr>
                        <td>발행기관</td>
                        <td><input type="text" name="license_agency"></td>
                        <td>취득일</td>
                        <td><input type="date" id="date" name="acquisition" min="1950-01-01"></td>
                    </tr>
                </table>
                <a>삭제하기</a>
            </form>
        </div>
        <div>
            <form>
                <table border="1">
                    <tr>
                        <td>수상명</td>
                        <td><input type="text" name="award_name"></td>
                        <td>수상기관</td>
                        <td><input type="text" name="award_agency"></td>
                    </tr>
                    <tr>
                        <td>수상내용</td>
                        <td><input type="text" name="award"></td>
                        <td>수상일</td>
                        <td><input type="date" id="date" name="award_date" min="1950-01-01"></td>
                    </tr>
                </table>
            </form>
            <a>삭제하기</a>
        </div>
        <div>
            <form>
                <table border="1">
                    <tr>
                        <td>활동명</td>
                        <td><input type="text" name="activity_name"></td>
                        <td>활동기관</td>
                        <td><input type="text" name="activity_agency"></td>
                    </tr>
                    <tr>
                        <td>직급</td>
                        <td><input type="text" name="activity_position"></td>
                        <td>부서</td>
                        <td><input type="text" name="activity_department"></td>
                    </tr>
                    <tr>
                        <td>활동기간</td>
                        <td><input type="date" name="f_activity_period" min="1900-01-01"> ~ <input type="date" id="date"
                                name="b_activity_period" min="1900-01-01"></td>
                    </tr>
                    <tr>
                        <td>활동내용</td>
                        <td><input type="textarea" name="activity"></td>
                    </tr>
                </table>
            </form>
            <a>삭제하기</a>
        </div>
    </div>
    <!-- 삭제시 경고창생성 혹시몰라서 맨밑에 둠 -->

</body>
</html>
