{% extends 'common/base.html' %}

{% load staticfiles %}

{% block head %}
<link rel="stylesheet" href="{% static 'account/stylesheet/index.css' %}">
{% endblock %}

{% block body %}

<div class="section-wrapper">
	<div class="section-container title">
		<div class="container-inner">
			<div class="row">
				<div class="col-md-7">
					<div class="titletext-container">
						<h1>포트폴리오 작성을 손쉽고 간편하게</h1>
						<h2>나만의 포트폴리오를 5분만에 뚝딱!</h2>
					</div>
				</div>
				<div class="col-md-5">
					<!-- 회원가입, 로그인 폼 -->
					{% include './signform/signform.html'%}
				</div>
			</div>
			
			
			
		</div>
		
	</div>
	<div class="section-container service">
		<div class="container-inner">

		</div>
	</div>
	<div class="section-container feature">
		<div class="container-inner">
			
		</div>
	</div>
	<div class="section-container team">
		<div class="container-inner">
			
		</div>
	</div>
	<div class="section-container contact">
		<div class="container-inner">
			
		</div>
	</div>
	
</div>




<h2>Account</h2>
<ul>
	<li><a href="{% url 'main' %}">main</a></li>
	<li><a href="{% url 'account_find' %}">account_find</a></li>
	<li><a href="{% url 'account_detail' %}">account_detail</a></li>
	<li><a href="{% url 'account_edit' %}">account_edit</a></li>
</ul>

<h2>Portfolio</h2>
<ul>
	<li><a href="{% url 'portfolio_list' %}">portfolio_list</a></li>
	<li><a href="{% url 'portfolio_detail' %}">portfolio_detail</a></li>
	<li><a href="{% url 'portfolio_preview' %}">portfolio_preview</a></li>
</ul>

<h2>Draft</h2>
<ul>
	<li><a href="{% url 'draft_list' %}">draft_list</a></li>
	<li><a href="{% url 'draft_detail' %}">draft_detail</a></li>
</ul>

{% endblock %}