{% extends 'common/base.html' %}

{% block body %}
<h1>index page</h1>

<h2>Portfolio</h2>
<ul>
	<li><a href="{% url 'portfolio_list' %}">portfolio_list</a></li>
	<li><a href="{% url 'portfolio_detail' %}">portfolio_detail</a></li>
	<li><a href="{% url 'portfolio_preview' %}">portfolio_preview</a></li>
</ul>

<h2>Portfolio</h2>
<ul>
	<li><a href="{% url 'draft_list' %}">draft_list</a></li>
	<li><a href="{% url 'draft_detail' %}">draft_detail</a></li>
</ul>

<h2>account</h2>
<ul>
	<li><a href="{% url 'main' %}">main</a></li>
</ul>
{% endblock %}